<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <link href="/main.go">
        <link rel="stylesheet" href="style/style_error.css">
        <title>Erreur 500</title>
        <link rel="icon" type="image/png" href="style/ressources/butterfly.jpg">
    </head>
    
    <body>
        <header>
            <a href="http://localhost:8080/">
                <button class="bouton">
                    <img src="../style/ressources/to_be_continued_reduce.png" alt="Acceuil">
                </button>
            </a>
        </header>
        <main>
            <h1>Erreur 500</h1>
            <p>Vérifiez votre URL</p>
            <img src="../style/ressources/joline_butterfly-remove.jpg" alt="joline_butterfly">
        </main>
    </body>
</html>